@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-background-color: #fcb86f;
  --primary-text-color: #000000;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 80rem;
  background-color: red;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Hubballi", cursive;
}

.navigation {
  text-align: center;
  font-size: 2rem;
  color: white;
}
